body, html {
	height: 100;
	margin: 0;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #30323d;
}

.pimg1 {
	position: relative;
	opacity: 0.90;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.pimg2, .pimg3, .pimg4, .pimg5 {
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.pimg1 {
	background-image: url('../images/taty-hero1.png');
	min-height: 800px;
}

.pimg2 {
	background-image: url('../images/linus-hero.jpeg');
	min-height: 400px;
}

.pimg3 {
	background-image: url('../images/legit-hero.jpeg');
	min-height: 400px;
}

.pimg4 {
	background-image: url('../images/stock-hero.jpeg');
	min-height: 400px;
}

.pimg5 {
	background-image: url('../images/about-hero.jpeg');
	min-height: 900px;
}


.section {
	text-align: center;
	padding: 50px 80px;
}

.section-light {
	background-color: #EBE9E9;
	color: #30323d;
}

.section-dark {
	background-color: #30323d;
	color: #EBE9E9;
}

.ptext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #EBE9E9;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.ptext .border {
	background-color: #1e1e24;
	color: #EBE9E9;
	padding: 20px;
}

.ptext a {
	text-decoration: none;
}

nav {
	width: 100%;
	height: 100%;
	color: #000;
	line-height: 20px;
}

nav img {
	margin-top: 10px;
	margin-left: 30px;
}

nav ul {
	float: right;
	margin-right: 30px;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 20px;

}

nav a {
	text-decoration: none;
	color: #ebe9e9;
}

@media(max-width: 568px) {
	.pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
		background-attachment: scroll;
	}
	.pimg1 {
	background-image: url('../images/taty-potrait-bw.png');
	min-height: 700px;
	opacity: 0.7;
	}
	nav img {
		width: 100px;
		height: 40px;
		margin: 0;
	}
	nav ul{
		display: none;
	}
}




