main {
	padding: 30px;
}

@media(min-width: 768px) {
	
.container-1 {
	display: flex;
}
}

.container-1 div {
 border: 1px #ccc solid;
 padding: 30px;
}

.sidebar {
	flex-basis: 20%;
}

.content {
	flex-basis: 80%;
}

.next-steps, .footer {
	flex-basis: 100%;
}

.banner, .next-steps, .conclusion, .footer {
	text-align: center;
}

li {
	list-style-type: none;
}
.bullet li {
	list-style-type: square;
}

span {
	color: #9e0000;
}

.line-break {
	border: 2px #9e0000 solid;
}

.banner{
	background-color: #000000;
	color: #ffffff;
}




.footer li{
	display: inline-flex;

}

@media(min-width: 768px) {

}